@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Variables */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sora:wght@800&display=swap');body {
  /* Site Branding Colors */
  --main-color: purple;
  --light-color: #f7f7f7;
  --dark-color: rgb(44, 44, 44);
  
  /* Site Branding Fonts */
  font-family: 'Open Sans', sans-serif;
  --header-font-family: 'Sora', sans-serif;

  /* NavBar */
  --nav-bg-color: purple;
  --nav-text-color: var(--dark-color);
  --nav-text-color-active: var(--main-color);

  /* Headers */
  --header-color: var(--dark-color);

  /* Buttons */
  --button-color: var(--main-color);
  --primary-button-text-color: var(--light-color);
}

/* NavBar.js */
.navBar {
  color: var(--nav-text-color);
}
.navBarScroll {
  background-color: var(--light-color);
}

.navBar .active {
  color: var(--nav-text-color-active);
}

/* Header.js */
.header {
  color: var(--header-color);
  font-family: var( --header-font-family);
}
.header.light {
  color: white;
}

/* Button.js */
.button.primaryBtn {
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  color: var(--primary-button-text-color);
}

.button.primaryBtn:hover {
  border: 2px solid var(--button-color);
  color: var(--button-color);
  background-color: transparent;
}

.button.secondaryBtn {
  border: 2px solid var(--button-color);
  color: var(--button-color);
}

.button.secondaryBtn:hover {
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  color: var(--primary-button-text-color);
}

/* Parallax.js */
.custom-img {
  background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80");
}

/* Grid Image */
.grid-img {
  background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80");
  height: 50vh;
  width: 100%;
}

/* Map.js */
.map {
  height: 40vh;
  width:100%;
}

/* Contact.js */
.contactButton {
  border: 3px solid var(--button-color);

}
.contactIcon {
  height: 2em;
  width: 2em;
  fill: var(--button-color);
}

/* Collapsable.js */
.collapseIcon {
  height: 1.5em;
  width: 1.5em;
  fill: var(--button-color);
}

.infoIcon {
  height: 1.5em;
  width: 1.5em;
  fill: rgb(59 130 246);
}
